<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <link th:href="@{/app.css}" rel="stylesheet">
	<title>Message Board: Main</title>
</head>
<body>
	<nav>
		[<a th:href="@{/mvc/}">Home</a>]
		[<a th:href="@{/mvc/logout}">Logout</a>]
	</nav>
	<div id="main">
		<p th:text="|Hello, ${userName}!|"></p>
		<form th:action="@{/mvc/messages}" method="POST" class="form-vertical">
			<div class="form-group">
				<label for="message">Message:</label>
				<input type="text" id="message" name="message">
			</div>
			<button type="submit">Send</button>
		</form>
		<hr>
		<h1>Message List</h1>
		<div id="message-list">
			<p th:each="mes : ${messages}" th:text="|${mes.name}: ${mes.message}|"></p>
		</div>
	</div>
</body>
</html>