<web-app version="6.0"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <!-- Configuration for the servlet that handles static files -->
	<servlet>
		<servlet-name>Static</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Static</servlet-name>
		<url-pattern>/static/*</url-pattern>
	</servlet-mapping>

    <!-- Security constraint configuration -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Secured Area</web-resource-name>
			<url-pattern>/messages/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>